html, body
{
    height: 100%;
}


@font-face {
    font-family: 'aileronsregular';
    src: url('fonts/ailerons-typeface1-webfont.eot');
    src: url('fonts/ailerons-typeface1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ailerons-typeface1-webfont.woff2') format('woff2'),
         url('fonts/ailerons-typeface1-webfont.woff') format('woff'),
         url('fonts/ailerons-typeface1-webfont.ttf') format('truetype'),
         url('fonts/ailerons-typeface1-webfont.svg#aileronsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'grand_hotelregular';
    src: url('fonts/grandhotel-regular-webfont.eot');
    src: url('fonts/grandhotel-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/grandhotel-regular-webfont.woff2') format('woff2'),
         url('fonts/grandhotel-regular-webfont.woff') format('woff'),
         url('fonts/grandhotel-regular-webfont.ttf') format('truetype'),
         url('fonts/grandhotel-regular-webfont.svg#grand_hotelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
  box-sizing: border-box;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
p{
  font-size: 1.2em;
  color:#282828;
}
#logo-wrap{
  padding-left: 2em;
  padding-right: 2em;
  max-height: 20em;
  overflow: hidden;
}
#logo-wrap div{
    position: relative;
    margin: auto;
    width: 80%;
    display:inline;
    max-height: inherit;
  }
#logo{
  max-height: inherit;
}

.pure-g [class *= "pure-u"] h1,h2,h3,h4{
  font-family: 'aileronsregular'
}
h1{
  color:#1B1464;
  font-weight: lighter;
}
#header-canvas{
  width: 100%;
}
@media screen and (min-width: 35.5em)	{
  .sectional-grid{
    margin: 0 10%;
  }

}
.testimonial h1,
.testimonial h2,
.testimonial h3,
.testimonial p{
  color: #f6f6f6;
}

body{
    background: #f8f8f8;
    height:100%;
    overflow-x: hidden;
}
header{
    background: #282828;
    padding: 1em;
    color: white;
}
header a{
    color: white;
    text-decoration: none;
}
.info{
    text-align:center;
}
.main-wrap{
    background: #fdfdfd;
    -webkit-box-shadow: 0px 3px 32px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 32px -8px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 32px -8px rgba(0,0,0,0.3);
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: .5em;
}
.main-wrap .pure-g{
    height: 100%;
}
.section{
    background: #fdfdfd;

}
.section:nth-of-type(even){
  background: #fffff;
}
.section:nth-of-type(odd){
  background: #f6f6f6;

}
.chat{
    background: #fff;
}
.action-wrap{
    overflow-x: none;
    overflow-y: scroll;
    height:30em;
}
.sidebar{
    background:#f8f8f8;
    height: 80%;
}
.sidebar .pure-u-1{
    height:49%;
}
.details{
    background: #f4f4f4;
}
#chat-form input[type='text']{
    box-sizing:border-box;
    width:95%;
    font-size:125%;
    padding-top: .325em;
    padding-bottom: .325em;
    margin-left:.2em;
    margin-right: .2em;
}
.form{
    margin-bottom: 1em;
}
form[name="sendForm"] input[type='submit']{
    width:100%;
    height: 3em;
    background: #129FEA;
    color: white;
    border: none;
}

.action{
    margin-bottom: .5em;
    background: #fdfdfd;

    -webkit-box-shadow: 0px 2px 32px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 32px -8px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 32px -8px rgba(0,0,0,0.3);
}
.action .sender,.time,.text{

  box-sizing: border-box;
}

.sender{
    color: white;

    padding-left:.25em;
}
.sender p{
    word-wrap: break-word;
}
.time{
    background: #f4f4f4;
    padding: .25em;

}
.time p {
   font-size: 70%;

}

.ioo0{
    background: #361F33;
}
.ioo1{
    background: #F22031;
}
.blue{
    background: #361F33;
}
.red{
    background: #F22031;
}
.button{
    color: white;
    text-align: center;
    padding:.5em;
    margin:1em;
}
.button:hover{
    -webkit-filter: brightness(50%);

}

.sidebar h2{
    width:100%;
    background: #361F33;
    color:white;
    padding:.5em;
    margin: 0;
    font-weight: normal;
    font-size:1.4em;
}
.item{
  box-sizing: border-box;
}
.item input{
  width: 100%;
}
.submit-button{
  background: green;
  color: white;
}
#header-canvas{
position: absolute;

}
.hero{
  overflow: hidden;
  position: relative;
}
.hero-title{
  padding-top: 4em;
  padding-bottom: 4em;

}
.hero-title h1, .hero-title h2{
  position: relative;
  text-align: center;

  vertical-align: middle;
}
.hero-title h1{
  font-size: 500%;

}
.hero-title h2{
  font-size: 200%;
  color: #282828;
  font-weight: lighter;
}
.title{
  font-family: sans-serif;
  text-align: center;
  font-size: 2.5em;
}
.sectional-intro{
  padding-left: 2em;
  padding-right: 2em;
}

.quote-wrap p,
.quote-wrap h2
{
  font-family: grand_hotelregular;

}
.quote-wrap p{
  font-size: 2em;
  text-align: center;

}
.quote-wrap h2{
  font-size: 2.5em;
  font-weight: lighter;

}
