<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<!--<![endif]-->


    <link rel="stylesheet" href="{% static 'web/css/styles.css' %}" />


<!-- Icons! -->
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'web/icons/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'web/icons/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'web/icons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'web/icons/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'web/icons/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'web/icons/apple-touch-icon-120x120.png' %} ">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'web/icons/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'web/icons/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'web/icons/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" href="{% static 'web/icons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'web/icons/android-chrome-192x192.png' %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static 'web/icons/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'web/icons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'web/icons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'web/icons/safari-pinned-tab.svg' %}" color="#361f33">
    <link rel="shortcut icon" href="{% static 'web/icons/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{% static 'web/icons/mstile-144x144.png' %}">
    <meta name="msapplication-config" content="{% static 'web/icons/browserconfig.xml' %}" >
    <meta name="theme-color" content="#361f33">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />




<!-- Javascript !-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <title>Talk.py | Welcome </title>
</head>

<body class="pure-g">


        <div class="section pure-u-1 header hero">
          <canvas height="300" id="header-canvas"></canvas>
          <div class="pure-u-1 hero-title">
            <h1>{% block title %} {%endblock%}</h1>
            <h2>{% block summary %} {%endblock%}</h2>
          </div>
        </div>


            {% block content %}

            {% endblock %}

</body>

    <script src='{% static "web/js/main.js" %}' type="text/javascript"></script>
    <!-- Include formset plugin - including jQuery dependency -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script>
// resize the canvas to fill browser window dynamically
   window.addEventListener('resize', resizeCanvas, false);
   var canvas=document.getElementById("header-canvas");
   ctx = canvas.getContext("2d");

   /**
    * Returns a random integer between min (inclusive) and max (inclusive)
    * Using Math.round() will give you a non-uniform distribution!
    */
   function getRandomInt(min, max) {
       return Math.floor(Math.random() * (max - min + 1)) + min;
   }

   var requestAnimationFrame =
           window.requestAnimationFrame ||
           window.webkitRequestAnimationFrame ||
           window.mozRequestAnimationFrame ||
           window.msRequestAnimationFrame ||
           window.oRequestAnimationFrame ||
           function(callback) {
             return setTimeout(callback, 1);
           };


   function resizeCanvas() {
           canvas.width = window.innerWidth;
           canvas.height =  document.getElementById('header-canvas').parentNode.clientHeight*1.1;


           /**
            * Your drawings need to be inside this function otherwise they will be reset when
            * you resize the browser window and the canvas goes will be cleared.
            */
           return drawStuff();
   }
   resizeCanvas();


   function Hexagon(cxt,x,y,size,rgbMin) {
     this.numberOfSides = 8;
     this.x = x;
     this.y = y;

     cxt.fillStyle = "rgba("+String(getRandomInt(250,255))+","+String(getRandomInt(250,255))+","+String(getRandomInt(250,255))+","+String(getRandomInt(10,20)/100)+")";
     cxt.fill();
     cxt.beginPath();
     for (var i = 1; i <= this.numberOfSides;i += 1) {
         cxt.lineTo (x + size * Math.cos(i * 2 * Math.PI / this.numberOfSides), y + size * Math.sin(i * 2 * Math.PI / this.numberOfSides));
     }


   };

   function drawStuff() {
     var x = -125
     rgbMin = 250
     var hexs = []

     gradient = ctx.createLinearGradient(0,0,canvas.width,canvas.height);

     ctx.globalCompositeOperation = "destination-over";

     for (var i = 0; i < canvas.width/12; i++) {

       if(i % 5   == 0){
         x+=canvas.width/12
         rgbMin -=(.5*rgbMin)^3;
       }
       var h = new Hexagon(ctx,x,getRandomInt(-10,500), getRandomInt(canvas.width/10,canvas.width/15),rgbMin)
       hexs.push(h)
       //ctx.fillRect (x,getRandomInt(-10,500), getRandomInt(canvas.width/10,canvas.width/15), getRandomInt(canvas.width/10,canvas.width/15));
     }
     ctx.globalCompositeOperation = "darker";




    gradient.addColorStop(0.000, 'rgba(238, 241, 242, 1.000)');
    gradient.addColorStop(1.000, 'rgba(48, 173, 226, 1.000)');

    ctx.fillStyle = gradient;
    ctx.fillRect(0, 0, canvas.width, canvas.height);
   }

   function reDraw(hexs){
     for (var i = 0; i < hexs.length; i++) {
       oldh = hexs[i]
       h = new Hexagon(ctx,oldh.x,oldh.y+3,getRandomInt(canvas.width/10,canvas.width/15),rgbMin)
       hexs[i] = h

     }
     return(hexs)
   }
   //requestAnimationFrame(reDraw(hexs));
  //  var animate = function(prop, val, duration) {
  //    // The calculations required for the step function
  //    var start = new Date().getTime();
  //    var end = start + duration;
  //    var current = 0; //square[prop];
  //    var distance = val - current;
   //
  //    var step = function() {
  //      // Get our current progres
  //      var timestamp = new Date().getTime();
  //      var progress = Math.min((duration - (end - timestamp)) / duration, 1);
   //
  //      // Update the square's property
  //      //square[prop] = current + (distance * progress);
   //
  //      // If the animation hasn't finished, repeat the step.
  //      if (progress < 1) requestAnimationFrame(step);
  //    };
   //
  //    // Start the animation
  //    return step();
  //  };
   //
  //  animate('x', 0, 1000);


   //setInterval(function() {reDraw(hexs) }, 500);


</script>
</html>
