

{% extends "web\default.html" %}
{% load staticfiles%}
{% load randomVal %}

{% block title %}{{global.name}}{% endblock %}
{% block summary %}{{sectionalData.0.description}}{% endblock %}

{% block content %}

        {% for s in sectionalData %}

          {% if s.id = 1 %} {# Hero #}

          {% elif s.id = 5 %} {# Testimonial #}
            {% include "web/testimonial.html" with ts=testimonialData colors=colors %}

          {% elif s.id = 4 %} {# Twitter #}
            {% include "web/twitter.html" with ts=testimonialData color=s.color %}

          {% else %} {# Other #}



            <div class="section pure-u-1" style="background:#{{s.color}}">
                <h1 class="title">
                        {{s.name}}
                </h1>
                <div class="pure-g sectional-grid">
                  <div class="sectional-intro pure-u-1 pure-u-sm-3-4">
                          <p>{{s.description  |safe}}</p>
                  </div>
                  <div class="pure-u-1 pure-u-sm-1-4" id="logo-wrap">
                          {%if s.id == 2 %}
                          <div>
                              <object id="logo" type="image/svg+xml" data="{% static "web/icons/logo.svg" %}">
                               <div>logo description</div>
                              </object>
                          </div>
                          {% endif %}
                      </div>
                  </div>
                </div>
            </div>
          {%endif%}

        {% endfor %}


{% endblock %}
