

{% extends "chat\default.html" %}

{% block title %}<h1>Welcome {{ user }}</h1>{% endblock %}

{% block content %}
        <div class="main-wrap pure-u-1">
            <div class="pure-g">
                <div class="pure-u-1"><h2>Peers on the network</h2><a href="{{request.path}}?nC=1&rP=1">(Refresh)</a></div>

            </div>
        </div>
{% endblock %}



