
{% load randomVal %}
{% load staticfiles%}
{% randQuote ts  as t%}
  <div class="section pure-u-1 testimonial" style="background:#{{colors|rand}}">
      <div class="pure-g sectional-grid">
        <div class="sectional-intro pure-u-1 pure-u-sm-1-4 icon-wrap">

        </div>
        <div class="pure-u-1 pure-u-sm-3-4 quote-wrap">
                <h2>"{{t.info}}"</h2>
                <p><em>{{t.name}}</em></p>
            </div>

        </div>
      </div>
  </div>
