

{% load randomVal %}
{% load staticfiles%}
  <script src="{%static 'web/js/gets.js''%}"></script>
  <div class="section pure-u-1 testimonial" style="background:#{{color}}">
      <div class="pure-g sectional-grid">
        <div class="pure-u-1">
          <h1 class="title">
            @Thomas_1151 on Twitter
          </h1>
        </div>
        <div class="pure-u-1 pure-u-sm-3-4 quote-wrap">
                <p>https://api.twitter.com/1.1/statuses/user_timeline.json

            </div>


        <div class="sectional-intro pure-u-1 pure-u-sm-1-4 icon-wrap">

        </div>

        </div>
      </div>
  </div>
